# Private source dependencies are listed in requirements-private.txt
# Requirements for tests, code style and other build stuff reside in
# requirements-build.txt

# These are needed to run this app
fastapi-cors>=0.0.6
fastapi>=0.115.8
pyhocon>=0.3.61
uvicorn>=0.34.0
websockets>=14.2
wsproto>=1.2.0
nbformat>=5.10.4
pydantic>=2.9.2
asyncio>=3.4.3
python-dotenv